This program will collect real time pricing information from various MISO hub locations
- Each day of the real time pricing will be extracted and flattened to create a rate curve for each day
- A user will then say how much storage capacity they have and how fast their rate of charge is 
- The program will then decide how many hours of charging you will need in a day + a factor of safety of 1.5
- Knowing the hours of charging each day, we can select the lowest portion of the pricing to fulfill the charging need 
* then apply this to every day
- Once this is completed, the program will average the cost per kw/h using storage over the year vs the average cost per kw/h

1. Bring in the hub spot price
- get necesssary packages
- pull data
- put into necessary format

In [6]:
import numpy as np
import operator
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

df = pd.read_csv('Data/2022MISOActualHUBEnergyPrice.csv')

#create a new column called day in df that has just the date and not the time from the Date column
df['Day'] = df['Date'].str.split(' ').str[0]
display(df)

                 Date    LMP            HUB       Day
0         1/1/22 0:00  27.12   ARKANSAS.HUB    1/1/22
1         1/1/22 0:00  22.46   ILLINOIS.HUB    1/1/22
2         1/1/22 0:00  23.39    INDIANA.HUB    1/1/22
3         1/1/22 0:00  28.56      TEXAS.HUB    1/1/22
4         1/1/22 0:00  28.72  LOUISIANA.HUB    1/1/22
...               ...    ...            ...       ...
65701  12/31/22 22:00  24.54   MICHIGAN.HUB  12/31/22
65702  12/31/22 22:00  23.07       MINN.HUB  12/31/22
65703  12/31/22 22:00  23.40         MS.HUB  12/31/22
65704  12/31/22 22:00  22.92   ARKANSAS.HUB  12/31/22
65705  12/31/22 22:00  23.08      TEXAS.HUB  12/31/22

[65706 rows x 4 columns]

Each day of the real time pricing will be extracted and flattened to create a rate curve for each day
* isolate by each state
*

In [50]:
#find the average LMP value for each item in the HUB column
dfHub = df.groupby('HUB')
dfHubMean = dfHub.mean()

#add indexes to the dfHubMean dataframe
dfHubMean = dfHubMean.reset_index()
display(dfHubMean)

             HUB        LMP
0   ARKANSAS.HUB  60.545411
1   ILLINOIS.HUB  62.372551
2    INDIANA.HUB  72.098010
3  LOUISIANA.HUB  62.974997
4   MICHIGAN.HUB  66.382847
5       MINN.HUB  44.336118
6         MS.HUB  61.511871
7      TEXAS.HUB  62.304199

In [21]:
#for each HUB, group the data by day and find the average LMP value for each day
dfHubDay = df.groupby(['HUB', 'Day'])

#sort LMP values in dfHubDay from lowest to highest LMP value
dfHubDaySorted = dfHubDay.mean().sort_values(by=['LMP'], ascending=True)
#display first ten rows of dfHubDaySorted
display(dfHubDay.head(10))

                Date    LMP            HUB       Day
0        1/1/22 0:00  27.12   ARKANSAS.HUB    1/1/22
1        1/1/22 0:00  22.46   ILLINOIS.HUB    1/1/22
2        1/1/22 0:00  23.39    INDIANA.HUB    1/1/22
3        1/1/22 0:00  28.56      TEXAS.HUB    1/1/22
4        1/1/22 0:00  28.72  LOUISIANA.HUB    1/1/22
...              ...    ...            ...       ...
65597  12/31/22 9:00  25.44    INDIANA.HUB  12/31/22
65598  12/31/22 9:00  23.66  LOUISIANA.HUB  12/31/22
65599  12/31/22 9:00  25.45   MICHIGAN.HUB  12/31/22
65600  12/31/22 9:00  22.21       MINN.HUB  12/31/22
65601  12/31/22 9:00  23.45         MS.HUB  12/31/22

[29192 rows x 4 columns]

In [51]:
#seperate the state
dfIllinois = df[df['HUB'] == 'ILLINOIS.HUB']
dfIllinoisDay = dfIllinois.groupby('Day')
#sort the values by day and order them from smallest to largest and display only the first 10 rows (out of 24) for each day 
dfIllinoisSort = dfIllinois.sort_values(['Day','LMP'],ascending=True).groupby('Day').head(10)
#get the mean LMP value for dfIllinoisSort
dfIllinoisSortMean = dfIllinoisSort['LMP'].mean()
display(dfIllinoisSortMean)

#repeat the above steps for all of the items in the HUB column
dfIndiana = df[df['HUB'] == 'INDIANA.HUB']
dfIndianaDay = dfIndiana.groupby('Day')
dfIndianaSort = dfIndiana.sort_values(['Day','LMP'],ascending=True).groupby('Day').head(10)
dfIndianaSortMean = dfIndianaSort['LMP'].mean()
display(dfIndianaSortMean)

dfMichigan = df[df['HUB'] == 'MICHIGAN.HUB']
dfMichiganDay = dfMichigan.groupby('Day')
dfMichiganSort = dfMichigan.sort_values(['Day','LMP'],ascending=True).groupby('Day').head(10)
dfMichiganSortMean = dfMichiganSort['LMP'].mean()
display(dfMichiganSortMean)

dfArkansas = df[df['HUB'] == 'ARKANSAS.HUB']
dfArkansasDay = dfArkansas.groupby('Day')
dfArkansasSort = dfArkansas.sort_values(['Day','LMP'],ascending=True).groupby('Day').head(10)
dfArkansasSortMean = dfArkansasSort['LMP'].mean()
display(dfArkansasSortMean)

dfLouisiana = df[df['HUB'] == 'LOUISIANA.HUB']
dfLouisianaDay = dfLouisiana.groupby('Day')
dfLouisianaSort = dfLouisiana.sort_values(['Day','LMP'],ascending=True).groupby('Day').head(10)
dfLouisianaSortMean = dfLouisianaSort['LMP'].mean()
display(dfLouisianaSortMean)

dfMississippi = df[df['HUB'] == 'MS.HUB']
dfMississippiDay = dfMississippi.groupby('Day')
dfMississippiSort = dfMississippi.sort_values(['Day','LMP'],ascending=True).groupby('Day').head(10)
dfMississippiSortMean = dfMississippiSort['LMP'].mean()
display(dfMississippiSortMean)

dfTexas = df[df['HUB'] == 'TEXAS.HUB']
dfTexasDay = dfTexas.groupby('Day')
dfTexasSort = dfTexas.sort_values(['Day','LMP'],ascending=True).groupby('Day').head(10)
dfTexasSortMean = dfTexasSort['LMP'].mean()
display(dfTexasSortMean)

dfMinn = df[df['HUB'] == 'MINN.HUB']
dfMinnDay = dfMinn.groupby('Day')
dfMinnSort = dfMinn.sort_values(['Day','LMP'],ascending=True).groupby('Day').head(10)
dfMinnSortMean = dfMinnSort['LMP'].mean()
display(dfMinnSortMean)

#Combine into a list
ListOfStateAverages = dfMinnSortMean, dfIllinoisSortMean, dfIndianaSortMean, dfMichiganSortMean, dfArkansasSortMean, dfLouisianaSortMean, dfMississippiSortMean, dfTexasSortMean
States = ['Minnesota', 'Illinois', 'Indiana', 'Michigan', 'Arkansas', 'Louisiana', 'Mississippi', 'Texas']

dfHUBAverages = pd.DataFrame({'State': States, 'Average Discounted LMP': ListOfStateAverages})
#sort states by alphabetical order
dfHUBAverages.sort_values(by=['State'], inplace=True)

#add another column that takes the LMP values from dfHUBMean
dfHUBAverages['Average LMP'] = dfHubMean['LMP']

display(dfHUBAverages)

42.154428610578236

50.63027130720745

47.50397369142231

44.34481775828994

45.955324746505894

44.73228829816388

45.82281995067142

25.93127980268567

         State  Average Discounted LMP  Average LMP
4     Arkansas               44.344818    66.382847
1     Illinois               42.154429    62.372551
2      Indiana               50.630271    72.098010
5    Louisiana               45.955325    44.336118
3     Michigan               47.503974    62.974997
0    Minnesota               25.931280    60.545411
6  Mississippi               44.732288    61.511871
7        Texas               45.822820    62.304199

0    60.545411
1    62.372551
2    72.098010
3    62.974997
4    66.382847
5    44.336118
6    61.511871
7    62.304199
Name: LMP, dtype: float64

42.154428610578236